<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: sans-serif;
    }

    h5 {
      font-family: sans-serif;
    }

    /* Create two equal columns that floats next to each other */

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    * {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
    }

    .page {
      position: relative;
      width: 21cm;
      min-height: 29.7cm;
      margin: 1cm auto;
      border: 1px #d3d3d3 solid;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      background-blend-mode: screen;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .footerImage {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
    }

    .logoImagePort {
      position: relative;
      top: 260;
      width: 50%;
      margin: auto;
      display: block;
    }

    .logoHeaderImage {
      position: relative;
      top: 30;
      width: 22%;
      margin-left: 30;
    }

    .prefooterImage {
      position: relative;
      top: 580;
      display: block;
      margin: auto;
      width: 60%;
    }

    .ecoeqImage {
      position: relative;
      height: 80;
      display: block;
      margin: auto;
    }

    .documentTitle {
      position: relative;
      top: 360;
      text-align: center;
      /* color: #303f9f */
    }

    .documentSubtitle {
      text-align: center;
      position: relative;
      top: 390;
    }

    .column33 {
      position: relative;
      float: left;
      width: 33%;
      padding: 30px;
    }

    .column25 {
      position: relative;
      float: left;
      width: 25%;
      height: 24px;
    }

    .imageLogo {
      margin-top: 24;
    }

    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 19cm;
      margin-left: 1cm;
    }

    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background: #b4ffc7;
    }

    @page {
      size: A4;
      margin: 0;
    }

    @media print {
      .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        /* min-height: initial; */
        box-shadow: initial;
        background: initial;
        page-break-after: always;
      }
    }
  </style>
</head>

<body>
  <!-- Portada -->
  <div class="page">
    <!-- <img class="logoImagePort" src="http://www.accioncircular.com/static/media/logo.c0df2e74.png" />
        <h1 class="documentTitle"><%=payload.name%></h1>
        <h2 class="documentSubtitle">Mayo de 2020</h2>
        <img class="prefooterImage" src="https://s3.us-east-2.amazonaws.com/www.accioncircular.com/iconos(1).png" /> -->
    <img class="footerImage" src="https://s3.us-east-2.amazonaws.com/www.accioncircular.com/mailing(2).png" />
  </div>
  <div class="page">
    <img class="logoHeaderImage" src="http://www.accioncircular.com/static/media/logo.c0df2e74.png" />
    <br />

    <img class="footerImage" src="https://s3.us-east-2.amazonaws.com/www.accioncircular.com/mailing(2).png" />
  </div>

  <div class="page">
    <div class="container">
      <br />
      <br />
      <br />
      <h1 style="text-align: center;">Eco equivalencias</h1>
      <br />
      <br />
      <div class="row">
        <div class="col-sm">
          <img src="https://s3.amazonaws.com/accioncircular.com/resources/gota.png" class="ecoeqImage" />
          <br />
          <blockquote class="blockquote text-center">
            <h3 class="mb-0">6 L</h3>
            <h5>de petróleo</h5>
          </blockquote>
        </div>
        <div class="col-sm">
          <img src="https://s3.amazonaws.com/accioncircular.com/resources/rayo.png" class="ecoeqImage" />
          <br />
          <blockquote class="blockquote text-center">
            <h3 class="mb-0">4 kWatt</h3>
            <h5>de energía</h5>
          </blockquote>
        </div>
        <div class="col-sm">
          <img src="https://s3.amazonaws.com/accioncircular.com/resources/fabrica.png" class="ecoeqImage" />
          <br />
          <blockquote class="blockquote text-center">
            <h3 class="mb-0">20 Kg</h3>
            <h5>de CO2</h5>
          </blockquote>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-sm">
          <img src="https://s3.amazonaws.com/accioncircular.com/resources/gota+agua.png" class="ecoeqImage" />
          <br />
          <blockquote class="blockquote text-center">
            <h3 class="mb-0">30 L</h3>
            <h5>de agua</h5>
          </blockquote>
        </div>
        <div class="col-sm">
          <img src="https://s3.amazonaws.com/accioncircular.com/resources/arbol.png" class="ecoeqImage" />
          <br />
          <blockquote class="blockquote text-center">
            <h3 class="mb-0">2 Un</h3>
            <h5>de árboles</h5>
          </blockquote>
        </div>
        <div class="col-sm">
          <img src="https://s3.amazonaws.com/accioncircular.com/resources/balanza.png" class="ecoeqImage" />
          <br />
          <blockquote class="blockquote text-center">
            <h3 class="mb-0">2 Kg</h3>
            <h5>de material</h5>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</body>

</html>